# https://pypi.org/project/flask
Flask>=2.2.2

# https://pypi.org/project/gunicorn
gunicorn>=20.1.0

# https://pypi.org/project/CurrencyConverter/
CurrencyConverter>=0.17.1

# https://pypi.org/project/rook/
rook>=0.1.179

# https://pypi.org/project/waitress/
waitress>=2.1.2
